doctype 5
html(lang='en', ng-app='reStoreOrder')
  head
    meta(charset='utf-8')
    -var title = titleHelper(title)
    title= title
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(href='/css/bootstrap.min.css', rel='stylesheet')
    link(href='/css/bootstrap-responsive.min.css', rel='stylesheet')
    link(href='/css/custom_style.css', rel='stylesheet')
    //if lt IE 9
      script(src='//html5shim.googlecode.com/svn/trunk/html5.js')
    != css('site')
  body(id="#{view}_view", ng-cloak)
    
    .container
      div.wrapper
        h1 Re-Store-Order
        a.btn.btn-success(href=path.pathFor('index'))
            i.icon-home
            |  Home
        a.btn.btn-success(href=path.pathFor('product.index'))
            i.icon-plus-sign.icon-black
            |  Products
        a.btn.btn-success(href=path.pathFor('order.index'))
            i.icon-pencil.icon-black
            |  Orders
        a.btn.btn-success(href=path.pathFor('product.new'))
            i.icon-user.icon-black
            |  Clients
        hr
        block content
    block js
      != js('site')
script(src='/scripts/angular.min.js')
